<h1>New Post</h1>

<%= form_with :model => @post do |form| %>
  <p>
    <%= form.label "What did you do?" %>
    <%= form.text_field "title" %>
    <%= form.label "Enter description here" %>
    <%= form.text_field "description" %>
  </p>
  <p>
    <%= form.label "posted_on" %>
    <%= form.date_field "posted_on" %>

  </p>
  <!-- So we can transfer state from the previous action to the next -->
  <%= form.hidden_field "place_id" %>
  <%= form.submit %>
<% end %>